<h1>All Ads</h1>
<% @advertisements.each do |ad| %>
    <div class="media">
        <div class="media-body">
            <h4 class="media-heading">
                <p><%= link_to "#{ad.title}, #{ad.price}" %></p>
            </h4>
        </div>
    </div>
<% end %>